html
  head
    title!= title
    script(type='text/javascript' src="/assets/main.js")
  body
    .container
      nav.navbar.navbar-default.navbar-fixed-top("role"="navigation")
        .container-fluid
          .navbar-header
            button.navbar-toggle("type"="button" "data-toggle"="collapse" "data-target"=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
            a.navbar-brand.
              sup βeta

          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a ehu
      #hexlet-ide

    script.
        HexletIde.create(document.getElementById("hexlet-ide"), {});

