html
  head
    title!= title
    link(rel='stylesheet', href='/stylesheets/application.css')
    script(type='text/javascript' src="/socket.io/socket.io.js")
    script(type='text/javascript' src="/term.js")
    script(type='text/javascript' src="/eureca.js")
    script(type='text/javascript' src="/assets/main.js")
  body
    #container
      nav.navbar.navbar-default.navbar-fixed-top("role"="navigation")
        .container-fluid
          .navbar-header
            button.navbar-toggle("type"="button" "data-toggle"="collapse" "data-target"=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
            a.navbar-brand.
              sup βeta

          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a ehu
      #hexlet-ide
