html
  head
    title!= title
    script(src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.3/es5-shim.js")
    script(type='text/javascript' src="assets/main.js")
  body
    .container
      #hexlet-ide.hexlet-ide

    script.
        var widget = HexletIde.create(document.getElementById("hexlet-ide"), {
          rpc: {
              url: window.location.host,
              events: {
                reconnect: console.log.bind(console, "reconnect"),
                reconnect_error: console.log.bind(console, "reconnect_error"),
                reconnect_failed: console.log.bind(console, "reconnect_failed"),
              }
          },
          cmd: "make test"
        });

        window.addEventListener("message", function(event) {
          var data = event.data;
          var cmd = data.cmd;

          if (cmd == "makeTest") {
            widget.exec("make test").done(function(response) {
              var result = {
                cmd: cmd,
                response: response
              };
              event.source.postMessage(result, event.origin);
            });
          }
        });
