.hexlet-ide {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3000;
}

.max-height {
    height: 100%;
}

.nopadding {
    padding: 0;
}

.CodeMirror {
    border: 1px solid #eee;
    height: 100%;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

.icon-folder, .icon-file { margin-right: 0.75em; }

.file-tree-box {
    padding-right: 0px;
}

.file-tree-box > .row {
    display: table;
}
.file-tree-box > .row > div {
}

.fuelux .tree {
    border-radius: 0;
    border: 1px solid #ddd;
    overflow: scroll;
    height: 96.5%;
}

.runner-box {
    & .input-group {
        input[type=text] {
            border-right: 0;
        }
        .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
            margin-left: 0;
        }
        button, input {
            line-height: 1;
            border-radius: 0;
            height: 28px;
            border-bottom: 0;
        }
    }
}

.editors-box {
    height: 58%;
    & .nav {
        position: absolute;
        a {
            & * {
                cursor: pointer;
            }
            padding: 2px 10px;
            border-radius: 4px 4px 0 0;

            .close {
                margin-left: 5px;
                font-size: 18px;
                opacity: 0;
            }
            &:hover .close {
                opacity: .4;
            }
        }
    }

    & .file-content {
      padding-top: 26px;
    }
}

.terminals-box {
    height: 40%;
    & .nav {
        a {
            cursor: pointer;
            padding: 2px 10px;
            border-radius: 4px 4px 0 0;

            .close {
                margin-left: 5px;
                font-size: 18px;
                opacity: 0;
            }
            &:hover .close {
                opacity: .4;
            }
        }
    }

    & .terminal {
        width: 100%;
        height: 100%;
    }

    & .terminal-frame {
        visibility: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }
}

.loader {
    margin: auto;
}

.full-screen-ide {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3000;
}

.embedded-ide {
    height: 100%;
    z-index: 3000;
}

.full-screen-btn {
    clear: both;
    float: right;
    z-index: 3001;
    font-size: 11px;
}
