.nopadding {
    padding: 0;
}

.CodeMirror {
    border: 1px solid #eee;
    min-height: 380px;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

.icon-folder, .icon-file { margin-right: 0.75em; }

.file-tree-box {
    padding-right: 0px;
}

.file-tree-box > .row {
    display: table;
}
.file-tree-box > .row > div {
}

.fuelux .tree {
    border-radius: 0;
    border: 1px solid #ddd;
    height: 551px;
    overflow: scroll;
}

.runner-box {
    & .input-group {
        input[type=text] {
            border-right: 0;
        }
        .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
            margin-left: 0;
        }
        button, input {
            line-height: 1;
            border-radius: 0;
            height: 28px;
            border-bottom: 0;
        }
    }
}

.editors-box {
    height: 406px;
    & .nav {
        a {
            & * {
                cursor: pointer;
            }
            padding: 2px 10px;
            border-radius: 0;

            .glyphicon-remove {
                margin-left: 4px;
                opacity: 0;
            }
            &:hover .glyphicon-remove {
                opacity: 1;
            }
        }
    }
}

.terminals-box {
    & .nav {
        a {
            cursor: pointer;
            padding: 2px 10px;
            border-radius: 0;

            .glyphicon-remove {
                margin-left: 4px;
                opacity: 0;
            }
            &:hover .glyphicon-remove {
                opacity: 1;
            }
        }
    }

    & .terminal {
        width: 100%;
    }
}

.loader {
    margin: auto;
}
