.CodeMirror {
    border: 1px solid #eee;
    min-height: 380px;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

.icon-folder, .icon-file { margin-right: 0.75em; }

.file-tree-box {
}

.file-tree-box > .row {
    display: table;
}
.file-tree-box > .row > div {
}

.fuelux .tree {
    border-radius: 0;
    border: 1px solid #ddd;
    min-height: 400px;
    overflow: scroll;

}

.runner-box {
    margin-bottom: 10px;

    & .input-group {
        button, input {
            border-radius: 0;
        }
    }
}

.editors-box {
    & .nav {
        a {
            padding: 5px 10px;
            border-radius: 0;
        }
    }
}

.terminals-box {
    & .nav {
        a {
            padding: 5px 10px;
            border-radius: 0;
        }
    }

    & .terminal {
        width: 100%;
    }
}

.loader {
    margin: auto;
}
