body { padding-top: 70px; }
.icon-folder, .icon-file { margin-right: 0.75em; }

.terminals-box {
    height: 40%;
}

.terminal {
    width: 100%;
    height: 100%;
}

.tree {
    height: 100%;
}

.tabs-box {
    height: 60%;
}

.file-tree-box {
    height: 60%;
}
